/* ------------------------------------- 
		GLOBAL 
------------------------------------- */
table, tr, td {
	border: 0px solid black;
}

* {
	margin: 0;
	padding: 0px;
}

* {
	font-family: Arial, Helvetica, sans-serif !important;
}

img {
	max-width: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	width: 100% !important;
	height: 100%;
}

/* ------------------------------------- 
		ELEMENTS 
------------------------------------- */
.empty-30 {
	width: 100%;
	height: 30px;
	line-height: 1px;
	font-size: 1px !important;
}

.empty-10 {
	width: 100%;
	height: 30px;
	line-height: 1px;
	font-size: 1px !important;
}
.empty-5 {
	
	height: 5px;
	line-height: 1px;
	font-size: 1px !important;
}

.upper-text {
	color: #767070;
	font-size: 12px ;
	font-family: Arial, Helvetica, sans-serif !important;
	margin: 0;
}

a {
	color: #767070;
}


.empty-20 {
	width: 100%;
	height: 20px;
	line-height: 1px;
	font-size: 1px !important;
}

.empty-10 {
	width: 100%;
	height: 10px;
	line-height: 1px;
	font-size: 1px !important;
}
.ps{
	font-size: 11px;
}
.up-title{
	font-size: 12px;
}

.footer-text{
	font-size: 14px;
	color: #767070;
}


.info-right {
	text-align: right;
}

/* ------------------------------------- 
		HEADER 
------------------------------------- */
.no-margin {
	margin: 0;
}
.no-padding{
	padding:0;
}

.center-class {
	text-align: center;
}

.social-hyperlink {
	text-decoration: none;
}

.header.container table td.label {
	padding: 15px;
}

/* ------------------------------------- 
		BODY 
------------------------------------- */
table.body-wrap {
	width: 100%;
	border-collapse: collapse;
}

.kasten::before {
	content: url(../images/kasten.png);
	padding: 0px;
	}

/* ------------------------------------- 
		TYPOGRAPHY 
------------------------------------- */
.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000;
}

.collapse {
	margin: 0 !important;
}

p {
	margin-bottom: 0px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

/* --------------------------------------------------- 
		RESPONSIVENESS
		Nuke it from orbit. It's the only way to be sure. 
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
	display: block !important;
	max-width: 650px !important;
	margin: 0 auto !important; /* makes it centered */
	clear: both !important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	padding: 15px;
	margin: 0;
	max-width: 650px;
	margin: 0 auto;
	display: block;
}
.content-two-column{
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 0px;
	margin: 0 auto;
	display: block;
}

.color-white{
	background-color: white;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
	width: 100%;
}

.column-wrap {
	padding: 0 !important;
	margin: 0 auto;
	max-width: 650px !important;
}

.column table {
	width: 100%;
}

.social .column {
	width: 280px;
	min-width: 279px;
	float: left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear {
	display: block;
	clear: both;
}

/* ------------------------------------------- 
		PHONE
		For clients that support media queries.
		Nothing fancy. 
-------------------------------------------- */
@media only screen and (max-width: 570px) {
	img {
		width: 100%
	}
	img.fixed-width {
		width: auto;
		padding: 0;
	}
	table td {
		display: block;
	}
	table td p {
		width: auto;
		padding: 0 !important;
		marging: 0 !important;
	}
	.info-right {
	text-align: left;
	padding-left:15px;
	}
	.info-left {
	text-align: left;
	padding-left:15px;
	}
	
}